.home {
  width: 100%;
  margin-top: 10px;

  .home__container {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    background-color: $bg-principal;

    .home__heading {
      padding: 5px;
      font-size: 2.4rem;
      letter-spacing: 2px;
      color: $txt-principal;
    } // home__heading
    @include tablet {
      .home__heading {
        font-size: 4rem;
      }
    }
    @include desktop {
      .home__heading {
        font-size: 4.4rem;
        letter-spacing: 0.1rem;
      }
    }

    .home__heading--h2 {
      padding: 5px;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      color: $txt-secundary;
    } // home__heading--h2
    @include desktop {
      .home__heading--h2 {
        font-size: 2rem;
      }
    }

    .home__photo {
      .home__img {
        margin-top: 10px;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
      }
    } //home__photo
    @include tablet {
      .home__photo {
        .home__img {
          width: 22.3rem;
          height: 22.3rem;
        }
      }
    }
    @include desktop {
      .home__photo {
        .home__img {
          width: 22.5rem;
          height: 22.5rem;
        }
      }
    }

    .home__greeting {
      font-size: 2.5rem;
      animation-name: greeting-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
      z-index: -1;

      @keyframes greeting-animation {
        0% {
          transform: rotate(0deg);
        }
        10% {
          transform: rotate(14deg);
        }
        20% {
          transform: rotate(-8deg);
        }
        30% {
          transform: rotate(14deg);
        }
        40% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(10deg);
        }
        60% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }
    } // home__greeting
    @include tablet {
      .home__greeting {
        font-size: 45px;
      }
    }
    @include desktop {
      .home__greeting {
        font-size: 6.5rem;
      }
    }

    .home__networks {
      padding: 5px;
      display: flex;
      justify-content: center;
      font-size: 3.5rem;
    } // home__networks
    @include desktop {
      .home__networks {
        font-size: 4rem;
      }
    }

    .home__button {
      padding: 2.5rem;

      .home__btn {
          @extend %btn;
      }
    } // home__button
    @include desktop {
      .home__button {
        .home__btn {
          padding: 20px;
          letter-spacing: 2px;
        }
      }
    }
  } // home__container
  @include tablet {
    .home__container {
      width: 90%;
      margin: 0 auto;
      border-radius: 5px 5px 0px 0px;
      text-align: center;
    }
  }
} // home