.works {
  width: 100%;
  margin-top: 10px;

  .works__container {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
    text-align: start;
    background-color: #111111;
  }
  
}

.works__heading {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  color: whitesmoke;
}
.works__heading--h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: left;
  color: whitesmoke;
}
.works__cards {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
.works__card {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
.work__img {
  width: 100%;
  height: 200px;
}
.works__heading--h3 {
  color: whitesmoke;
}
.works__links {
  color: grey;
  text-decoration: none;
}
.works__paragraph {
  color: grey;
}
.works__skills {
  text-align: start;
  font-size: 30px;
}
.works__button {
  margin-top: 5px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  background: linear-gradient(
    90.4deg,
    rgb(32, 121, 128) 0.6%,
    rgb(9, 145, 155) 90%
  );
  transition: 0.3s ease;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
}
.works__button:hover {
  background: grey;
}
@media (min-width: 768px) {
  .works__container {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
    text-align: start;
    background-color: #111111;
  }
  .works__cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .works__cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
}
