// colors web
$principal: red;
$heading-h1: grey;
$heading-h2: red;
$parrafe-principal: grey;
$btn: red;

// colors icons
$fb-icon: blue;
$li-icon: blue;
$yt-icon: red;
$geo-icon: blue;
$mail-icon: yellow;
$lamp-icon: white;
$html-icon: red;
$css-icon: red;
$js-icon: red;
$react-icon: red;

// medidas

