// colors web
$bg-principal: rgb(17, 17, 17);
$txt-principal: rgb(245, 245, 245);
$txt-secundary: rgb(128, 128, 128);
$btn-principal: red;
$btn-secundary: red;

// colors icons
$fb-icon: rgb(59, 89, 152);
$li-icon: rgb(14, 118, 168);
$yt-icon: rgb(196, 49, 44);
$geo-icon: rgb(250, 89, 60);
$mail-icon: rgb(224, 224, 173);
$lamp-icon: rgb(255, 255, 255);
$html-icon: rgb(255, 69, 0);
$css-icon: rgb(45, 159, 189);
$js-icon: rgb(255, 255, 0);
$react-icon: rgb(45, 159, 189);

// medidas

