.header {
  width: 100%;
  padding: 2rem;

  .header__container {
    width: 100%;
    height: 8rem;
    margin: 0 auto;

    .header__logo {
      .header__img {
        width: 22.5rem;
        border-radius: 5px;
        padding: 5px;
      }
    } // header__logo

    .header__links {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 1rem;
      list-style: none;
      cursor: pointer;

      .header__link {
        padding: 1rem;
        border-radius: 5px;
        background-color: $txt-secundary;
        transition: 0.3s ease-out;
        
        &:hover {
          @extend %gradient;
        }

        .header__btn {
          text-decoration: none;
          color: $txt-principal;
          font-size: 1.2rem;
          letter-spacing: 0.1rem;
        } // header__btn
      } // header__link

      .header__link--light {
        color: $txt-principal;
        font-size: 3.4rem;
      } // header__link--light
    } // header__links
    @include desktop {
      .header__links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        list-style: none;
        cursor: pointer;

        .header__link {
          .header__btn {
            padding: 2rem;
          } // header__btn
        } 


      }
    }
  } // header__container
  @include tablet {
    .header__container {
      width: 90%;
      height: 8rem;
      margin: 0 auto;
    }
  }
} // header
